/*Basis*/

* {
    font-family: arial, sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

a {
    color: black;
}

button {
    color: rgb(85, 86, 90);
    background-color: rgb(251, 221, 15);
    box-shadow: rgb(210, 184, 43) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 12px 20px;
}

button:hover {
    background-color: rgb(255, 242, 151);
}

button:active {
    box-shadow: 0px 0px 0px 0px;
    border: none;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

@font-face {
    font-family: aspect;
    src: url(aspect.otf)
}


/*Header*/

h1,
h2 {
    font-family: aspect;
    text-transform: uppercase;
}

h1 {
    color: white;
}

.titel {
    display: flex;
    width: 80vw;
    margin: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

header {
    padding-top: 15px;
    background-color: #07193c;
    height: 7.5em
}

header nav {
    display: flex;
    width: 80vw;
    margin: auto;
    margin-right: auto;
    justify-content: space-between;
}

header a {
    color: white;
    text-transform: capitalize;
    margin-right: 5px;
    padding: 10px 15px 10px 10px;
    background-color: #32415e;
    border-top-color: rgb(255, 207, 4, 0);
    transition: background-color 1s;
    transition: border-top-color 1s;
}

.visiting {
    border-top-color: rgb(255, 207, 4);
    border-top-style: solid;
}

nav img {
    display: none;
}

nav a {
    box-sizing: border-box;
    height: 2.4em;
}

.nav-1 {
    font-weight: bold;
}

nav div {
    display: flex;
}

.nav-2 a {
    background-color: #1a2b4b;
}

header a:hover {
    border-top-color: rgb(255, 207, 4);
    border-top-style: solid;
    background-color: #4e648e;
    border-width: 0.1em;
}

nav input {
    padding: 7px 9px 7px 9px;
    font-size: 1.2em;
    background-color: #1a2b4b;
    border: none;
    color: white;
}

nav input:hover {
    background-color: #243d6d;
}

nav input:hover::placeholder {
    color: white;
}

nav input::placeholder {
    color: #5d6b86;
}

.nav-mobile {
    display: none;
}

nav form {
    margin: 0;
    padding-top: 0;
}


/*uitgelicht*/

.voor-jou {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.93), rgba(255, 0, 0, 0)), url(paranoia.png);
    background-color: black;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100vw;
    width: 100vw;
    transition: background 0.3s;
}

.voor-jou div {
    color: white;
    width: 80vw;
    margin: auto;
    margin-right: auto;
    padding: 60px 0px 20px 0px;
}

.voor-jou:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(255, 0, 0, 0)), url(paranoia.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 105vw;
}

.populair {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.93), rgba(255, 0, 0, 0)), url(klumper.png);
    background-color: black;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100vw;
    transition: background 0.3s;
}

.populair div {
    color: white;
    width: 80vw;
    margin: auto;
    margin-right: auto;
    padding: 60px 0px 20px 0px;
}

.populair:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(255, 0, 0, 0)), url(klumper.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 105vw;
}

.uitgelicht {
    border-bottom: solid 0.5em;
    border-bottom-color: #30b5c7;
}


/*alle-verhalen*/

.verhalen-top {
    text-align: center;
}

.filter-knop {
    background-image: url(pijl-rechts.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 90px;
    background-color: white;
    box-shadow: rgb(172, 172, 172) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
    padding: 12px 40px 14px 20px;
}

#filter-knop:hover {
    background-color: rgb(252, 250, 250);
}

.filter-actief {
    background-image: url(pijl-onder.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95%;
    background-color: white;
    box-shadow: rgb(172, 172, 172) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px 0px;
    width: 100vw;
    margin-left: 0;
}

#filters form {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

#filters fieldset {
    padding: 0px 4vw;
    border: none;
    margin: 10px 7vw;
    font-size: 1.2em;
}

.verhalen {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    margin-right: auto;
    height: 40em;
}

.verhalen article {
    background: url(klumper.png);
    background-size: 39.5em;
    background-repeat: no-repeat;
    background-clip: inset(10px 10px 10px 10px);
    width: 400px;
    margin: 20px 6px;
    border-radius: 10px;
    padding-top: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*schaduw afkomstig van https://www.w3schools.com/css/css3_shadows.asp geraadpleegd op 2/12/2018*/
    transition: box-shadow 0.3s;
    height: 136px;
}

.verhalen img {
    width: 15px;
    height: 15px;
}

.verhalen article:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-size: 40.5em;
    transition: background-size 0.3s;
}

.verhalen div {
    background-color: white;
    padding: 5px 10px 1px 10px;
    border-radius: 0px 0px 10px 10px;
}

@media only screen and (max-width: 900px) {
    nav span {
        display: none;
    }
    nav img {
        display: block;
        height: 1.8em;
    }
    nav input {
        background: url(../images/icon-zoeken.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.7rem;
        width: 2em;
        padding-top: 1.1em;
    }
    nav input::placeholder {
        color: transparent;
    }
    header {
        height: 7em;
    }
    header nav {
        display: flex;
        justify-content: center;
        background-color: #1a2b4b;
        width: 100%;
    }
    .nav-2 a {
        background: none;
    }
    .titel {
        display: block;
        text-align: center;
        padding-bottom: 0;
    }
    nav div {
        display: flex;
    }
    nav a {
        display: flex;
        flex-direction: column;
        background: none;
        margin: 0 6vw;
        display: flex;
        justify-content: space-between;
        margin: 0 5vw;
        padding-left: 1em;
        border-bottom-color: rgba(255, 207, 4, 0);
        transition: border-bottom-color 0.7s;
        box-sizing: content-box;
        height: 2em;
    }
    nav a:hover {
        border-bottom-color: rgb(255, 207, 4);
        border-bottom-style: solid;
        border-top: none;
        background: none;
        border-width: 0.1em;
    }
    .voor-jou {
        width: 100%;
    }
    .visiting {
        border-top: none;
        border-bottom-color: rgb(255, 207, 4);
        border-bottom-style: solid;
    }
    .titel h1 {
        margin: 0.3em;
        font-size: 1.5em;
    }
    .titel img {
        height: 1.3em;
    }
}

@media only screen and (max-width: 400px) {
    .uitgelicht {
        display: flex;
        justify-content: flex-start;
    }
    .uitgelicht article {
        width: 50%;
        height: 13em;
    }
    .uitgelicht article img {
        display: none;
    }
    .uitgelicht div {
        text-align: center;
        width: 80%;
        padding: 20% 0
    }
    .uitgelicht div h2 {
        margin-bottom: 2em;
    }
    .verhalen-top {
        text-align: center;
    }
    nav {
        position: absolute;
    }
    nav a {
        z-index: 0;
    }
    nav input {
        z-index: 1;
    }
    nav input:focus {
        z-index: 1;
        width: 90vw;
        padding: 0.9em 1em;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1a2b4b;
        background-image: none;
    }
    nav input:focus::placeholder {
        color: #496080;
    }
    nav input:hover {
        border-bottom-color: rgb(255, 207, 4);
        border-bottom-style: solid;
        border-width: 0.1em;
        background-color: #1a2b4b;
    }
    nav input:focus:hover {
        border-bottom-color: rgb(255, 207, 4);
        border-bottom-style: solid;
        border-width: 0;
    }
    nav input:hover::placeholder {
        color: transparent;
    }
}
