 @keyframes maakRuimte {
     from {
         margin-right: 0;
     }

     to {
         margin-right: 10em;
     }
 }

 @keyframes knopacity {
     0% {
         opacity: 0;
     }

     60% {
         opacity: 0;
     }

     100% {
         opacity: 100;
     }
 }


 body {}

 header {
     height: 3em;
     z-index: 1000;
     background-color: rgba(0, 0, 0, 0.13);
 }

 header nav {
     height: 3em;
     background-color: transparent;
 }



 nav a {
     background-color: rgba(0, 0, 0, 0.13);
 }

 nav a:hover {
     background-color: rgba(103, 103, 103, 0.24);
 }

 nav input {
     background-color: rgba(0, 0, 0, 0.13);
 }

 .verhaal button {
     animation-name: knopacity;
     animation-duration: 5s;
     font-size: 3em;
     height: 2em;
     padding: 0.5em;
     border-radius: 2em;
     width: 2em;
     position: fixed;
     bottom: 2em;

     right: 47.5%;
     color: rgba(255, 255, 255, 0.5);
     background-color: rgba(48, 181, 199, 0.62);
     border: none;
     transition: background-color 1s;
     outline: 0;
     z-index: 105;
     box-shadow: none;
     text-transform: none;
 }

 .verhaal button:hover {
     color: white;
     background-color: #30b5c7;
 }

 .verhaal button:active {
     background-color: rgba(201, 199, 199, 0.95);
     transition: background-color 0.5s;
 }

 .verhaal a {
     height: 5em;
     width: 5em;
     border-radius: 3em;
     background-color: rgba(48, 181, 199, 0.28);
     position: absolute;
     bottom: 2em;
     right: 6vw;
     z-index: 200;
 }

 .verhaal a:hover {
     background-color: #30b5c7;
 }

 .verhaal a img {
     height 3em;
     width: 3em;
     position: relative;
     top: 1em;
     left: 1em;
 }

 body {
     background-color: black;
     margin-left: 2px;
 }

 .one {
     position: absolute;
     top: 0;
     background-color: black;
     width: 100vw;
     height: 53.5em;
     z-index: 100;
     transition: height 1s;
 }

 .oneBlind {
     height: 0;
 }

 .two {
     width: 100vw;
     margin-top: 0;
     display: flex;
     flex-wrap: wrap;
     position: absolute;
     top: 0;
     opacity: 100;
     transition: margin-top 2s;
 }

 .twoStart {
     position: absolute;
     top: 0;
 }

 .twoBlind {
     visibility: hidden;
 }

 .two div {
     box-sizing: border-box;
     background-color: black;
     border: solid;
     border-color: white;
     border-width: 0.1em;
     width: 11.111%;
     height: 11.111vw;
     z-index: 99;
     transition: opacity 0.7s;
 }

 .two div:hover {
     opacity: 0;
     border-width: 0;
 }

 .two div:visited {
     background-color: red;
 }

 .backgroundBlind {
     display: none;
 }

 .background {
     position: absolute;
     top: 0;
     display: flex;
     align-content: flex-start;
     flex-wrap: wrap;
     width: 100vw;
     background-color: black;
     z-index: 1;
 }

 .background img {
     margin: 0;
     width: 11.111vw;
     height: 11.111vw;
 }

 .backgroundYeet {
     position: absolute;
     top: 0;
     display: flex;
     align-content: flex-start;
     flex-wrap: wrap;
     width: 100vw;
     background-color: white;
     z-index: 1;
 }

 .backgroundYeet img {
     transition: margin 1s;
     margin-bottom: 5em;
     width: 11.111vw;
     height: 11.111vw;
 }

 .backgroundLast {
     transition: margin 1s;
     position: absolute;
     top: 0;
     display: flex;
     align-content: flex-start;
     flex-wrap: wrap;
     width: 80vw;
     margin: 5vw 0 0 10vw;
     font-size-adjust: center;
     background-color: white;
     z-index: 1;
 }

 .backgroundLast img {
     transition: height 1s;
     margin-bottom: 10vw;
     width: 10vw;
     height: 10vw;
 }

 .textOne {
     display: none;
     flex-wrap: wrap;
     width: 80vw;
     margin: auto;
     margin-top: 5vw;
     transition-property: all;
     transition-duration: 1s;
 }

 .textOne p {
     letter-spacing: -1.2vw;
     word-break: break-all;
     font-weight: 600;
     font-size: 10vw;
     font-family: arial;
     text-transform: uppercase;
     margin: auto;
     text-align: center;
     transition-property: all;
     transition-duration: 1s;
 }



 @media only screen and (max-width: 400px) {
     .verhaal button {
         animation-name: knopacity;
         animation-duration: 5s;
         font-size: 2em;
         padding: 0.5em;
         width: 2.5em;
         height: 2.5em;
         border-radius: 1em;
         position: fixed;
         bottom: 1em;

         right: 40%;
         margin: auto;
         color: rgba(255, 255, 255, 0.5);
         background-color: rgba(43, 43, 43, 0.1);
         border-radius: 2em;

     }

     .one {
         height: 100%;
     }

     .two div {
         box-sizing: border-box;
         background-color: black;
         border: solid;
         border-color: white;
         border-width: 0.1em;
         width: 16.666%;
         height: 16.666vw;
         transition: background-color 0.7s;
     }

     .background img {
         outline: 0;
         margin: 0;
         width: 16.666%;
         height: 16.666vw;
     }

     .verhaal a {
         height: 3em;
         width: 3em;
         border-radius: 2em;
         background-color: rgba(48, 181, 199, 0.28);
         position: absolute;
         bottom: 2em;
         right: 6vw;
         z-index: 200;
     }

     .verhaal a:hover {
         background-color: #30b5c7;
     }

     .verhaal a img {
         height 1.5em;
         width: 1.5em;
         position: relative;
         top: 0.8em;
         left: 0.8em;
     }
 }
